{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
    <title>Tasks</title>
</head>





<div class="task-list-container">
    {% if user.is_authenticated %}
    <h1 class="username">Welcome {{user.username}}</h1>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
<div class="btn-container">
    <a class="btn btn-create" href="{% url 'task-create' %}">&#x2b; Create New Task</a>
    <button class="btn btn-logout" type="submit">Logout</button>
</div>
    </form>
    <hr>

    {% else %}
    <p class="not-logged-in">You are not Logged in</p>
    <a class="btn btn-login" href="{% url 'login' %}">login</a>
    {% endif %}


    <ul class="task-list">
        {% for task in tasks %}
        <li class="task">
            <div class="task-title">
                <a href="{% url 'task-update' task.id %}">{{task.title}}</a>
            </div>
            <div class="task-actions">
                <a class="btn btn-delete" href="{% url 'task-delete' task.id %}">&#x2715;</a>
            </div>
        </li>
        {% empty %}
        <li class="no-tasks">No tasks available.</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}